<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>WMS Client Login</title>
  <!-- Bootstrap core CSS-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
  <!-- Custom fonts for this template-->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <!-- Custom styles for this template-->
  <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}" media="screen" />
</head>

<body class="bg-dark">
  <div class="container">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">WMS Client Login</div>
      <div class="card-body">
        <form class="form-signin" method="post" action="{% url 'login' %}">
          {% csrf_token %}
          <div class="form-group">
            <td>{{ form.username.label_tag }}</td>
            <td>{{ form.username }}</td>
          </div>
          <div class="form-group">
            <td>{{ form.password.label_tag }}</td>
            <td>{{ form.password }}</td>
          </div>
          <button class="btn btn-primary btn-block" type="submit">Sign in</button>
          <input type="hidden" name="next" value="/" />
        </form>
      </div>
      <div class="center">
        {% if form.errors %}
        <h5>Could not connect. Please try again.</h5> {% endif %} {% if next %} {% if user.is_authenticated %}
        <h4>Account is already authenticated.</h4> {% endif %} {% endif %}
      </div>
    </div>
  </div>
  <!-- Bootstrap core JavaScript-->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
  <!-- Font Awesome javascript -->
  <script src="https://use.fontawesome.com/f75b01e974.js"></script>

</body>
</html>
